<style>
  #closing{
    display: block;
    margin-top: 20px;
    margin-left: 20px;
  }
</style>
<%= form_for @listing do |f| %>
  <div class="form-inline">
    <%= f.label :title, :class => 'form_label_name' %>
    <%= f.text_field :title, :class => 'form_control' %>

    <%= f.label :description, :class => 'form_label_name' %>
    <%= f.text_field :description, :class => 'form_control' %>

    <%= f.label :pay_rate, :class => 'form_label_name' %>
    <%= f.text_field :pay_rate,:class => 'form_control' %>


    <%= f.label :part_time, :class => 'form_label_name' %>
    <%= f.radio_button(:job_type, "part-time", :id => 'part-time',
    :checked => (:pay_type == 'part-time')? true:false) %>
    <%= f.label :full_time, :class => 'form_label_name' %>
    <%= f.radio_button(:job_type, "full-time", :id => 'full-time',
    :checked => (:pay_type == 'full-time')? true:false) %>

    <%= f.label :closing, :id => 'closing' %>
    <%= f.datetime_select :closing, :ampm => true, :minute_step => 15%>

    <%= f.submit %>
  </div>
<% end %>
